<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title> Rejestracja </title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    {% if error %}
      {{error}}
    {% endif %}

<form id="registerForm" action="/notes" method="POST" enctype="multipart/form-data">
    <h1>Nowa notatka</h1>
    <fieldset>
       
      <label class="" for="login">Treść</label>
      <textarea name="note" form="registerForm">Enter text here...</textarea>
    </fieldset>
    <fieldset> 
        <label class="" for="users">Jeśli nie zostaną wybrani użytkownicy notatka będzie publiczna.</label>

        <label class="" for="users">Użytkownicy uprawnieni do wglądu:</label>
        {% for user in users %}
          <label class="checkbox"><input type="checkbox" name="users" value="{{ user }}">{{ user }}<br></label>
        {% endfor %}
      </fieldset>
    <button type="submit" id="submitButton">Dodaj notakę</button>
</form>
</body>
</html>