<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title> Rejestracja </title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    {% if error %}
      {{error}}
    {% endif %}

<form id="changePasswordForm" action="/changepassword" method="POST" enctype="multipart/form-data">
    <h1>Zmiana hasła</h1>
    <fieldset>        
      <label class="" for="login">Stare hasło</label>
      <input type="password" name="old_password" id="old_password" value="" required>

      <label class="" for="password">Hasło</label>
      <input type="password" name="password" id="password" value="" required>

      <label class="" for="password">Potwierdź hasło</label>
      <input type="password" name="repeated_password" id="repeated_password" value="" required>

    </fieldset>
    <fieldset>

    </fieldset>
    <button type="submit" id="submitButton">Zmień hasło</button>
</form>
</body>
</html>